* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    background-color: #222222;
    color: #E0E0E0;
}
.navContainer {
    padding-left: 18px;
    background-color: #327955;
    margin-bottom: 0;
}
.navContent {
    display: flex;
    justify-content: space-between;
}
.navTitle:hover {
    cursor: pointer;
}
ul {
    display: flex;
    gap: 18px;
    align-items: center;
    padding-right: 10%;
    font-weight: 600;
}
li {
    list-style: none;
}
li:hover {
    cursor: pointer;
}

.header {
    background-color: #327955;
    padding: 60px 20px 20px 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 30px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.header img {
    border: solid 4px #222222; 
    border-radius: 24px;
}
.headerTitle {
    margin-top: 0;
}
.headerContainer {
    width: 350px;
}

.signUp {
    background-color: #222222;
    color: white;
    border-radius: 16px;
    cursor: pointer;
    padding: 8px;
    transition: 300ms;
    border: solid 1px #222222;
}

.signUp:hover {
    background-color: white;
    color: #222222;
}

/* Cards */
.title {
    text-align: center;
}

.cardContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.card {
    width: 180px;
    text-align: center;
}

.card img {
    border: solid 6px #327955;
    border-radius: 20px;
}
.cardText {
    margin: 6px;
}

/* Quote */
.container {
    text-align: center;
}
.quote {

    width: 300px;
    text-align: center;
}